.card {
  padding: 32px 24px;
  border-radius: 20px;
  background: var(--grey-dark-2);
  display: grid;
  grid-template-columns: 1fr 4fr 6fr 2fr 1fr;
  align-items: center;
  gap: 32px;
  transition: background .5s ease-in;
  cursor: pointer;

  &:hover {
    background: var(--grey-dark);
  }

  .description {
    color: var(--grey);
    padding-right: 32px;
  }

  .price {
    white-space: nowrap;
  }

  .arrowBtn {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background: var(--grey-dark);
    color: var(--accent);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background .5s ease-in, color .5s ease-in;
  }

  &:hover .arrowBtn {
    background: var(--accent);
    color: var(--background);
  }

  .link {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background: var(--grey-dark);
    color: var(--accent);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background .5s ease-in;
  }

  &:hover .link {
    background: var(--grey-dark-2);
  }
}
