:root {
    --font-family-primary: 'Inter', sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --background: #000;
    --text: #fff;
    --accent: #c1ff13;
    --grey: #7f7f7f;
    --grey-dark: #262626;
    --grey-dark-2: #151414;
}
