.page {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 64px;
  padding-bottom: 80px;

  & .title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  & .label {
    opacity: .5;
    max-width: 200px;
    text-align: right;
  }
}

