.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.info {
  opacity: .5;
  max-width: 60%;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;

  & .row {
    display: flex;
    gap: 16px;
  }
}


.input {
  flex: 1 1 auto;
  height: 56px;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background: var(--text);
  color: var(--background);
  font-family: 'Inter', sans-serif;
  font-size: 14px;

  &:focus {
    outline: 3px solid var(--accent);
  }

  &:first-child, &:last-child,  {
    grid-area:  auto / 1 / auto / 3;
  }
}

.textarea {
  height: 100px;
  resize: none;
  grid-area:  auto / 1 / auto / 3;
}

.submitBtn {
  grid-area:  auto / 1 / auto / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 66px;
  background: var(--accent);
  border-radius: 12px;
  color: var(--background);
  justify-self: center;
}

.checkbox {
  grid-area:  auto / 1 / auto / 3;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-self: flex-start;

  &_input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    margin: 0;
  }

  &_new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--accent);
    margin-right: 8px;
  }

  & .link {
    color: var(--accent);
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &_check_icon {
    display: none;
    color: var(--accent);
  }

  &_input:checked ~ &_new > &_check_icon {
    display: block;
  }
}
